server:
  port: 8080
  servlet:
    context-path: /e-learning

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/ELearning?serverTimezone=UTC}
    username: ${SPRING_DATASOURCE_USERNAME:main}
    password: ${SPRING_DATASOURCE_PASSWORD:1234}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    database: mysql
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false

  servlet:
    multipart:
      max-file-size: 2000MB
      max-request-size: 2000MB
  application:
    name: K-English
  messages:
    basename: messages
    encoding: UTF-8
  mail:
    from: kenglisheducation@gmail.com
    host: smtp.gmail.com
    port: 587
    username: "your-email@gmail.com"
    password: "your-gmail-app-password"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}
  secure: true

jwt:
  secret-key: ${JWT_SECRET_KEY}
  refresh-key: ${JWT_REFRESH_KEY}
  reset-key: ${JWT_RESET_KEY}
  confirm-key: ${JWT_CONFIRM_KEY}
  expiry-hour: 1
  expiry-day: 3
  expiry-minute: 30

oauth2:
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:3000}

vnpay:
  tmnCode: ${VNPAY_TMN_CODE}
  vnp_Url: "https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"
  hashSecret: ${VNPAY_HASH_SECRET}
  apiUrl: ${VNPAY_IPN_URL:http://localhost:8080/e-learning/api/v1/payment/vnpay-ipn}
  returnUrl: ${VNPAY_RETURN_URL:http://localhost:3000/payment-result}

gemini:
  api-key: ${GEMINI_API_KEY}
  url: "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-lite:generateContent"